doctype html
html
  head
    title=title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', media='screen')
    script(type="text/javascript", src="lib/codemirror.js")
    script(type="text/javascript", src="lib/comment.js")
    script(type="text/javascript", src="lib/continuecomment.js")
    script(type="text/javascript", src="lib/matchbrackets.js")
    script(type="text/javascript", src="lib/javascript.js")
    script(type="text/javascript", src='../lib/pnsScript.js')

    link(rel='stylesheet', href='stylesheets/simple-sidebar.css')
    link(rel="stylesheet", href="lib/codemirror.css")
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br
    if (!user)
      div(class="nav")
        ul
          if(!user)
            li(style="float:right")
              a(href="/register") Register
            li(style="float:right")
              a(href="/login") Login
          else
            li(style="float:right")
              a(href="/logout") Logout
          li
            a(href="/") ActivePNS
          li(class="ddown")
            a(href="#" class="dropbtn") Document
            div(class="ddown-content")
              a(href="/doc/activepns") About ActivePNS
              a(href="/doc/activecode") How-To Guide
              a(href="/doc/activequery") API Reference
              a(href="/doc/example") Examples
      table(align="center")
        tr
          td
            //'Comic Sans MS', cursive, sans-serif
            //Verdana, Geneva, sans-serif
            div(style="border:solid 2px #f45342; font-family: 'Comic Sans MS', cursive, sans-serif; background:#ffffff;color:#4286f4; width:400px;height:400px;padding:5px;")
              h1(style="font-size: 40px; font-weight: 800;") ActivePNS
              div(style="font-size: 24px; font-weight: 800;")
              | ActivePNS is a programmable managed DNS service. You can write Javascript code to define your own routing
              | scheme for your A record hosted by ActivePNS. Try out by registering your account first.
          td
            img(src="images/activepns.png", style="width:100%;height:100%;padding:5px;")
    if (user)
      //p.h4 Hello #{user.username}
      //h4 The subdomain "#{user.username}.activegns.org" has been assigned to you, you can create your A record and define your own policy on it
      //h6
      //hr
      div(id="wrapper")
        div(id="sidebar-wrapper")
          ul(class="sidebar-navi navi navi-tabs" id="sidebar-nav")
            li(class="sidebar-brand")
              a(href="#welcome") Code & Record
            li
              a(href="#welcome") Account
            li(class="active")
              a(href="#tab-code") Code
            li
              a(href="#create-field") Create Fields
            li
              a(href="#record-a") A
            li
              a(href="#record-mx") MX
            li
              a(href="#record-cname") CNAME
            li
              a(href="#record-ns") NS
            li(class="sidebar-brand")
              a(href="/logout" style="color:white;font-size:28px") Logout

        div(class="tab-content")
          div(class="tab-pane active" id="tab-code")
            div(class="container-fluid")
              div(class="row")
                div(class="col-lg-12")
                  h1 Active Code (Javascript)
                  textarea(type="text", id="code", style="height:200px;width:300px;font-size:10pt;").
                    #{code}
                  p.h5 Examples:
                  select(id="codeExamples", class="optgroup", onchange="onChange();") Examples
                    option.h5(value="none") None
                    option.h5(value="noop") No-op
                    option.h5(value="random") Random
                    option.h5(value="latency") Latency-based
                  br
                  br
                  button.btn.btn-default(type='submit' onclick="onCodeClick()") Submit Code

          div(class="tab-pane fade" id="welcome")
            div(class="container-fluid")
              div(class="row")
                div(class="col-lg-12")
                  h1 Account Information
                  table(style="width: 500px;font-size:20px; font-family: 'Times New Roman', Times, serif")
                    tr
                    td
                      b Account:
                    td #{user.username}
                    tr
                    td
                      b Subdomain:
                    td #{user.username}.pnsanonymous.org

          div(class="tab-pane fade" id="record-a")
            div(class="container-fluid")
              div(class="row")
                div(class="col-lg-12")
                  h1 A Record(IPv4 Address)
                  textarea(type="text", id="record", style="height:200px;width:200px;font-size:10pt;").
                    #{record}
                  p.h5 IPv4 address. Enter multiple addresses on separate lines.
                  p.h5 Example:
                  ul.h6 1.1.1.1
                  ul.h6 2.2.2.2
                  button.btn.btn-default(type='submit', onclick="onRecordClick()") Save Change

          div(class="tab-pane fade" id="create-field")
            div(class="container-fluid")
              div(class="row")
                div(class="col-lg-12")
                  h1 Create Fields
                  p Coming soon...
                  table(id="field_table" style="width:200px")

          div(class="tab-pane fade" id="record-mx")
            div(class="container-fluid")
              div(class="row")
                div(class="col-lg-12")
                  h1 MX Record(Mail Exchange)
                  textarea(type="text", id="record", style="height:200px;width:200px;font-size:10pt;").
                    #{mx}
                  p.h5 A priority and a domain name that specifies a mail server. Enter multiple values on separate lines.
                  p.h5 Format:
                    li(style="list-style: none;") [priority] [mail server host name]
                  p.h5 Example:
                  ul.h6 10 mailserver.example.com.
                  ul.h6 20 mailserver2.example.com.
                  button.btn.btn-default(type='submit', onclick="onMXClick()") Save Change

          div(class="tab-pane fade" id="record-cname")
            div(class="container-fluid")
              div(class="row")
                div(class="col-lg-12")
                  h1 CNAME Record(Canonical Name)
                  textarea(type="text", id="record", style="height:200px;width:200px;font-size:10pt;").
                    #{cname}
                  p.h5 The domain name that you want to resolve to instead of the value in the Name filed
                  p.h5 Example:
                  ul.h6 www.example.com
                  button.btn.btn-default(type='submit', onclick="onCNAMEClick()") Save Change

          div(class="tab-pane fade" id="record-ns")
            div(class="container-fluid")
              div(class="row")
                div(class="col-lg-12")
                  h1 NS Record
                  textarea(type="text", id="record", style="height:200px;width:200px;font-size:10pt;").
                    #{ns}
                  p The domain name of a name server. Enter multiple name servers on separate lines.
                  p.h5 Example:
                  ul.h6 ns1.example.com
                  ul.h6 ns2.example.org
                  ul.h6 ns3.example.fr
                  ul.h6 ns4.example.net
                  button.btn.btn-default(type='submit', onclick="onNSClick()") Save Change

      script(type="text/javascript", src='http://code.jquery.com/jquery.js')
      script(type="text/javascript", src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
      script.
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
          lineNumbers: true,
          matchBrackets: true,
          continueComments: "Enter",
          extraKeys: {"Ctrl-Q": "toggleComment"}
        });
        $('#sidebar-nav a').click(function (e) {
          if($(e.target).attr('href').localeCompare("/logout") != 0) {
            e.preventDefault();
          }
          $(this).tab('show');
          //alert("Gocha:"+$(e.target).attr('href'));
          if($(e.target).attr('href').localeCompare("#tab-code") == 0) {
            editor.refresh();
            $('#code').click();
          }
        });



